<!-- Campaña-banner -->
<!-- <app-baners></app-baners> -->
<!-- Presentacion  -->
<section id="sobre-mi" class="sobre-mi seccion-oscura">
  <div class="row mx-md-5 align-items-center w-100">
    <div class="co-l2 col-md-12 col-lg-6 text-center">
      <h2 class="seccion-titulo text-uppercase">Jose Ochoa</h2>
      <h3 class="seccion-subtitulo">Fisioterapeuta y Quiropráctico</h3>
      <p class="seccion-texto">
        Especialista en Rehabilitación de Problemas de La Columna Vertebral, Rehabilitación de Lesiones Traumatológicas,
        Rehabilitación de Lesiones Deportivas de alto y bajo rendimiento
      </p>
    </div>
    <div class="co-l2 col-md-12 col-lg-6">
      <img src="./assets/img/especialista.jpg" class="w-100 rounded-1" alt="image" />
    </div>
  </div>
</section>

<!-- Servicios -->
<section id="servicios" class="seccion-clara servicios">
  <h2 class="seccion-titulo">Servcios</h2>
  <h3 class="seccion-descripcion mx-3 text-center">Conoce los siguientes servicios que ofrecemos...</h3>
  <!-- Galeria de servicios -->
  <div class="row mx-1 mx-md-5 mt-3">
    <!-- Servicio 1 -->
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 py-2 py-md-2 py-lg-0 py-xl-0">
      <img src="./assets/img/servicio1.jpg" class="w-100" />
    </div>

    <!-- Servicio 2 -->
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 py-2 py-md-2 py-lg-0 py-xl-0">
      <img src="./assets/img/servicio2.jpg" class="w-100" />
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 py-2 py-md-2 py-lg-0 py-xl-0">
      <img src="./assets/img/solo.jpg" class="w-100" />
    </div>
  </div>
</section>
<section id="nosotros" class="nosotros seccion-oscura">
  <h2 class="seccion-titulo p-0">Nosotros somos</h2>
  <div class="col-10 col-lg-8 pb-4 text-center">
    Somos centro de Medicina Fisica y Quiropraxia, asi mismo contamos con un centro especializado y diseñado para poder cumplir
    con un servico de excelencia para ti.
  </div>
  <div id="carouselExampleInterval" class="carousel slide mt-2 col-12 col-md-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="10000">
        <video class="w-100" autoplay loop muted>
          <source src="./assets/img/video.mp4" type="video/mp4" />
          Formato de vídeo no soportado.
        </video>
      </div>
      <div class="carousel-item active" data-bs-interval="10000">
        <video class="w-100" autoplay loop muted>
          <source src="./assets/img/video1.mp4" type="video/mp4" />
          Formato de vídeo no soportado.
        </video>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Banners -->
  <div class="mt-5 col-12">
    <img class="w-100" src="./assets/img/banner.png" />
    <!-- <img class="w-5" src="../assets/img/citas.jpg"> -->
  </div>
  <!-- End Banners -->

  <div class="text-center mt-5 mb-3">
    <h2>También atendemos las siguientes patologias</h2>
  </div>
  <div class="row w-100">
    <!-- lesiones de hombro -->
    <div class="columna col-12 col-md-4">
      <div class="badges-contenedor">
        <p class="experiencia-titulo text-center">Lesiones Deportivas</p>
        <p class="text-center" style="font-size: 14px">
          Las lesiones deportivas, o producidas por el deporte, son habituales entre deportistas y otras personas que practican
          deporte.
        </p>
        <div class="badge">Lesiones de hombro</div>
        <br />
        <div class="badge">Lesión del manguito de los rotadores/bursitis subacromial</div>
        <br />
        <div class="badge">Rotura del rodete glenoideo</div>
        <br />
        <div class="badge">Lesiones del codo</div>
        <br />
        <div class="badge">Epicondilitis</div>
        <br />
        <div class="badge">Epitrocleítis</div>
        <br />
        <div class="badge">Dedo en martillo</div>
        <br />
        <div class="badge">Síndrome piriforme</div>
        <br />
        <div class="badge">Lesión en el muslo</div>
        <br />
        <div class="badge">Dolor en la parte anterior de la rodilla</div>
        <br />
        <div class="badge">Dolor en las espinillas</div>
        <br />
        <div class="badge">Tendinitis aquílea</div>
        <br />
        <div class="badge">Fracturas del pie por fatiga</div>
        <br />
        <div class="badge">Dedo de césped</div>
        <br />
      </div>
    </div>
    <!-- lesiones de hombro -->
    <div class="columna col-12 col-md-4">
      <div class="badges-contenedor">
        <p class="experiencia-titulo text-center">Lesiones Deportivas</p>
        <p class="text-center" style="font-size: 14px">
          Las lesiones deportivas, o producidas por el deporte, son habituales entre deportistas y otras personas que practican
          deporte.
        </p>
        <div class="badge">Lesiones de hombro</div>
        <br />
        <div class="badge">Lesión del manguito de los rotadores/bursitis subacromial</div>
        <br />
        <div class="badge">Rotura del rodete glenoideo</div>
        <br />
        <div class="badge">Lesiones del codo</div>
        <br />
        <div class="badge">Epicondilitis</div>
        <br />
        <div class="badge">Epitrocleítis</div>
        <br />
        <div class="badge">Dedo en martillo</div>
        <br />
        <div class="badge">Síndrome piriforme</div>
        <br />
        <div class="badge">Lesión en el muslo</div>
        <br />
        <div class="badge">Dolor en la parte anterior de la rodilla</div>
        <br />
        <div class="badge">Dolor en las espinillas</div>
        <br />
        <div class="badge">Tendinitis aquílea</div>
        <br />
        <div class="badge">Fracturas del pie por fatiga</div>
        <br />
        <div class="badge">Dedo de césped</div>
        <br />
      </div>
    </div>
    <!-- lesiones de hombro -->
    <div class="columna col-12 col-md-4">
      <div class="badges-contenedor">
        <p class="experiencia-titulo text-center">Lesiones Deportivas</p>
        <p class="text-center" style="font-size: 14px">
          Las lesiones deportivas, o producidas por el deporte, son habituales entre deportistas y otras personas que practican
          deporte.
        </p>
        <div class="badge">Lesiones de hombro</div>
        <br />
        <div class="badge">Lesión del manguito de los rotadores/bursitis subacromial</div>
        <br />
        <div class="badge">Rotura del rodete glenoideo</div>
        <br />
        <div class="badge">Lesiones del codo</div>
        <br />
        <div class="badge">Epicondilitis</div>
        <br />
        <div class="badge">Epitrocleítis</div>
        <br />
        <div class="badge">Dedo en martillo</div>
        <br />
        <div class="badge">Síndrome piriforme</div>
        <br />
        <div class="badge">Lesión en el muslo</div>
        <br />
        <div class="badge">Dolor en la parte anterior de la rodilla</div>
        <br />
        <div class="badge">Dolor en las espinillas</div>
        <br />
        <div class="badge">Tendinitis aquílea</div>
        <br />
        <div class="badge">Fracturas del pie por fatiga</div>
        <br />
        <div class="badge">Dedo de césped</div>
        <br />
      </div>
    </div>
  </div>
</section>

<!-- Contacto -->
<app-contactos> </app-contactos>
