<!-- Campaña-banner -->
<div class="">
    <div class="py-4 campania">
        <div class="d-xl-flex justify-content-center text-center">
            <div class="text-light text-pri me-lg-2">DEL 26 JUNIO AL 30 DE JUNIO </div>
            <div class="text-capitalize text-sec">
                ¡gran
                Campaña
                de terapia fisica y
                Quiropraxia!
            </div>
        </div>
        <div class="bg-danger text-light col-12 col-lg-8 mx-lg-auto py-3 rounded-5 mt-2 tamanio text-center">APROVECHA
            NO TE
            PIERDAS
            ESTA
            OPORTUNIDAD
        </div>
    </div>

</div>
<!-- Presentacion  -->
<section id="sobre-mi" class="sobre-mi seccion-oscura">
    <div class="row mx-md-5 align-items-center w-100">
        <div class="co-l2 col-md-12 col-lg-6">
            <h2 class="seccion-titulo">Me Presento</h2>
            <p class="seccion-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet, odio
                eget
                fringilla scelerisque, sem purus fringilla mauris, nec ultricies nisl nisl sit amet dolor. Donec et
                venenatis nunc, vel hendrerit ex. Vestibulum sapien ipsum, rutrum eget est et, ultricies sagittis
                urna.
                In
                non volutpat est. Vestibulum diam sapien, ultrices et euismod at, ultrices ut odio. Nullam in massa
                et
                elit
                ultrices suscipit. Proin lacinia leo ac posuere placerat.</p>
        </div>
        <div class="co-l2 col-md-12 col-lg-6">
            <img src="../assets/img/especialista.jpg" class="w-100 rounded-1" alt="image">
        </div>
    </div>
</section>

<!-- Servicios -->
<section id="servicios" class="seccion-clara servicios">
    <h2 class="seccion-titulo">Servcios</h2>
    <h3 class="seccion-descripcion mx-3">Conoce los siguientes servicios que ofrecemos...</h3>
    <!-- Galeria de servicios -->
    <div class="row mx-1 mx-md-5 mt-3">
        <!-- Servicio 1 -->
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 py-2 py-md-2 py-lg-0 py-xl-0">
            <img src="../assets/img/servicio1.jpg" class="w-100">
        </div>

        <!-- Servicio 2 -->
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 py-2 py-md-2 py-lg-0 py-xl-0">
            <img src="../assets/img/servicio2.jpg" class="w-100">
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 py-2 py-md-2 py-lg-0 py-xl-0">
            <img src="../assets/img/solo.jpg" class="w-100">
        </div>
    </div>
</section>
<section id="nosotros" class="nosotros seccion-oscura">
    <h2 class="seccion-titulo p-0 ">Nosotros somos</h2>
    <div class="col-10 col-lg-8 pb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, repellendus? Beatae odit recusandae maiores
        quasi qui at repellat. Deserunt alias consequuntur, vitae aliquid magnam asperiores accusamus earum enim
        doloribus rerum?
    </div>
    <div id="carouselExampleInterval" class="carousel slide mt-2 col-12 col-md-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item " data-bs-interval="10000">
                <video class="w-100" autoplay loop muted>
                    <source src="../assets/img/video.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="carousel-item active" data-bs-interval="10000">
                <video class="w-100" autoplay loop muted>
                    <source src="../assets/img/video1.mp4" type="video/mp4" />
                </video>
            </div>
            <!-- <div class="carousel-item" data-bs-interval="2000">
                <img class="img-fluid" src="../assets/img/citas.jpg">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="mt-5 col-12">
        <img class="w-100" src="../assets/img/banner.png">
        <!-- <img class="w-5" src="../assets/img/citas.jpg"> -->
    </div>
    <div class="text-center mt-5 mb-3">
        <h2>También atendemos las siguientes patologias</h2>
    </div>
    <div class="row w-100">
        <!-- lesiones de hombro -->
        <div class="columna col-12 col-md-4">
            <div class="badges-contenedor">
                <p class="experiencia-titulo text-center">Lesiones Deportivas</p>
                <p class="text-center" style="font-size: 14px;">
                    Las lesiones deportivas, o producidas por el deporte, son habituales entre deportistas y otras
                    personas que practican deporte.
                </p>
                <div class="badge">Lesiones de hombro</div><br>
                <div class="badge">Lesión del manguito de los rotadores/bursitis
                    subacromial</div><br>
                <div class="badge">Rotura del rodete glenoideo</div><br>
                <div class="badge">Lesiones del codo</div><br>
                <div class="badge">Epicondilitis</div><br>
                <div class="badge">Epitrocleítis</div><br>
                <div class="badge">Dedo en martillo</div><br>
                <div class="badge">Síndrome piriforme</div><br>
                <div class="badge">Lesión en el muslo</div><br>
                <div class="badge">Dolor en la parte anterior de la rodilla</div><br>
                <div class="badge">Dolor en las espinillas</div><br>
                <div class="badge">Tendinitis aquílea</div><br>
                <div class="badge">Fracturas del pie por fatiga</div><br>
                <div class="badge">Dedo de césped</div><br>
            </div>
        </div>
        <!-- lesiones de hombro -->
        <div class="columna col-12 col-md-4">
            <div class="badges-contenedor">
                <p class="experiencia-titulo text-center">Lesiones Deportivas</p>
                <p class="text-center" style="font-size: 14px;">
                    Las lesiones deportivas, o producidas por el deporte, son habituales entre deportistas y otras
                    personas que practican deporte.
                </p>
                <div class="badge">Lesiones de hombro</div><br>
                <div class="badge">Lesión del manguito de los rotadores/bursitis
                    subacromial</div><br>
                <div class="badge">Rotura del rodete glenoideo</div><br>
                <div class="badge">Lesiones del codo</div><br>
                <div class="badge">Epicondilitis</div><br>
                <div class="badge">Epitrocleítis</div><br>
                <div class="badge">Dedo en martillo</div><br>
                <div class="badge">Síndrome piriforme</div><br>
                <div class="badge">Lesión en el muslo</div><br>
                <div class="badge">Dolor en la parte anterior de la rodilla</div><br>
                <div class="badge">Dolor en las espinillas</div><br>
                <div class="badge">Tendinitis aquílea</div><br>
                <div class="badge">Fracturas del pie por fatiga</div><br>
                <div class="badge">Dedo de césped</div><br>
            </div>
        </div>
        <!-- lesiones de hombro -->
        <div class="columna col-12 col-md-4">
            <div class="badges-contenedor">
                <p class="experiencia-titulo text-center">Lesiones Deportivas</p>
                <p class="text-center" style="font-size: 14px;">
                    Las lesiones deportivas, o producidas por el deporte, son habituales entre deportistas y otras
                    personas que practican deporte.
                </p>
                <div class="badge">Lesiones de hombro</div><br>
                <div class="badge">Lesión del manguito de los rotadores/bursitis
                    subacromial</div><br>
                <div class="badge">Rotura del rodete glenoideo</div><br>
                <div class="badge">Lesiones del codo</div><br>
                <div class="badge">Epicondilitis</div><br>
                <div class="badge">Epitrocleítis</div><br>
                <div class="badge">Dedo en martillo</div><br>
                <div class="badge">Síndrome piriforme</div><br>
                <div class="badge">Lesión en el muslo</div><br>
                <div class="badge">Dolor en la parte anterior de la rodilla</div><br>
                <div class="badge">Dolor en las espinillas</div><br>
                <div class="badge">Tendinitis aquílea</div><br>
                <div class="badge">Fracturas del pie por fatiga</div><br>
                <div class="badge">Dedo de césped</div><br>
            </div>
        </div>
    </div>
</section>


<!-- Contacto -->
<section id="contacto" class="contactos seccion-clara">
    <div class="row w-100 px-4">
        <div class="seccion-titulo text-center mb-3">
            ¡Contactanos!
        </div>
        <article class="col-12 col-lg-6 order-lg-1" style="height:100%;">
            <div>
                <h3 class="seccion-texto text-center text-uppercase text-secondary">¡Agenda tu cita!</h3>
            </div>
            <!-- Formulario -->
            <div class="mx-auto w-lg-75">
                <form action="https://formsubmit.co/isaias9872@gmail.com" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="Nombres">Nombre</label>
                        <input class="form-control form-control-sm" id="Nombres" name="Nombres"
                            placeholder="Escribe tus nombres y apellidos" type="text" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Email">Email</label>
                        <input class="form-control form-control-sm" id="Email" name="email"
                            placeholder="Escribe tu correro electronico" type="Email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Celular">Numero de celular</label>
                        <input class="form-control form-control-sm" id="Celular" name="Celular"
                            placeholder="Numero de celular" type="tel" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Asunto</label>
                        <input class="form-control form-control-sm text-uppercase fw-semibold text-secondary"
                            id="Asunto" name="Asunto" placeholder="Ejemplo: RECERBAR DE CITA" type="text" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="comments">Comentarios de sintomas </label>
                        <textarea rows="4" class="form-control form-control-sm" id="comments" name="comments"
                            placeholder="Describenos algunos de los sintomas que tiene..." required></textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="d-flex justify-content-center col-12 col-lg-6 mb-1 mb-lg-0">
                            <input class="btn btn-md btn-primary w-100 py-md-2" type="submit" value="Agendar">
                            <input type="hidden" name="_next" value="http://localhost:4200/confirmacion">
                            <input type="hidden" name="_subject" value="RECERVACIONES DE CITA DE KINETIKA!!"
                                (click)="enviar()">
                        </div>
                        <div class="col-12 col-lg-6 d-flex justify-content-end whatsapp-link">
                            <a class="btn btn-md btn-success w-100 "
                                href="https://api.whatsapp.com/send?phone=51993998501&amp;text=CENTRO TERAPIA FISICA Y QUIROPRAXIA *KINETICA* %0AHola, deseo agendar una cita %0A*Nombres:* %0A*Sintomas:* %20"
                                target="_blank">
                                <i class="bi bi-whatsapp "></i> Agenda por Whatsapp
                            </a>
                        </div>

                    </div>
                </form>
            </div>
            <!-- Fin Formulario -->
        </article>
        <article class=" col-12 col-lg-6">
            <div class="ratio ratio-4x3 d-flex justify-content-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d622.1867736604077!2d-74.55253365651784!3d-8.386139266744737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91a3bd03872ad4e1%3A0xff47be2aeb30b207!2s21%20De%20Octubre%2C%20Pucallpa%2025001!5e1!3m2!1ses-419!2spe!4v1686962176916!5m2!1ses-419!2spe"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>

    </div>
</section>