<!-- Pie de pagina (footer) -->
<footer class="seccion-oscura py-1">

    <!-- <hr> -->
    <div class="footer-titulo text-center pt-2">
        ¡Ubicacanos!
    </div>
    <div class="row w-100">
        <div class="mb-2 col-12 col-lg-3 text-center">
            <img class="rounded-circle" width="80" src="../assets/img/logo.jpg" alt="Logo del kinetica">
        </div>

        <div class="col-12 col-lg-6 text-center">
            <p class="footer-texto text-center">Jr. 21 de octubre al costado del mercado
                Micaela<br>Pucallpa-Ucayali-Perú.
                <br><i class="bi bi-phone"></i> 993 998 501
            </p>
        </div>

        <div class="iconos-redes-sociales d-flex align-items-center justify-content-center col-12 col-lg-3">
            <a href="https://www.facebook.com/profile.php?id=100068096745680" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=51993998501&amp;text=CENTRO TERAPIA FISICA Y QUIROPRAXIA *KINETICA* %0AHola, deseo agendar una cita %0A*Nombres:* %0A*Sintomas:* %20"
                target="_blank">
                <i class="bi bi-whatsapp "></i>
            </a>

        </div>
    </div>
    <div class="pt-2 navegacion">
        <div class="px-2">
            <a class="" href="#nosotros">Sobre Nosotros</a>
        </div>
        <div class="px-2">
            <a class="" href="#servicios">Servicios</a>
        </div>
        <div class="px-2">
            <a class="" href="#sobre-mi">Especialista</a>
        </div>
        <!-- <div class="px-2">
            <a class="" href="#estudio">Estudios</a>
        </div> -->
        <div class="px-2">
            <a class="" href="#contacto">Contactanos</a>
        </div>
    </div>
    <hr>
    <div class="derechos-de-autor">
        <p class="text-center">
            &#169; (2023) Copyright: <span class="fw-bold mx-1">Kinetika</span> |
            Desarrollado
            por <a href="https://github.com/iisaiaso" target="_blank"
                class="mx-1 text-decoration-none"><strong>DeVIio</strong></a>
        </p>
    </div>
</footer>